.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: rgb(163, 162, 162);
  position: relative;
  z-index: 1;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);
  transform: scaleY(0);
  /* transform-origin top set is at the center on X and at the top of the element on Y */
  transform-origin: top;
  /* 
  One way to do the bounce would be to just use a certain timing function
  without a need to use an animation AND having it play both ways

  But you'd need to add a new stacking context so that the bounce-back 
  does not overlap the menu
  */

  transition: transform 0.8s cubic-bezier(0.8, 0.58, 0.49, 1.31);
}

ul.dropdown-menu li:hover {
  background: rgb(47, 46, 46);
}

.visible {
  transform: scaleY(1);
  /* animation: expand 1s ease 1 forwards; */
}
/* 
@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  85% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
} */
